@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
}

.slider,
.slider::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.slider {
  z-index: -1;
}

.slider::after {
  z-index: 0;
  content: '';
  background: rgba(0, 0, 0, 0.3);
}

.fade-in,
.fade-out {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.fade-in {
  animation-name: fade-in;
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.slider-icon.disabled {
  opacity: 0;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

/* --------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

/* ---------------------------------- */

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  user-select: none;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  user-select: none;
}

/* --------------------------- */

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.greeting {
  padding: 10px;
  user-select: none;
}

.name-wrapper {
  position: relative;
  height: 100%;
}

.name,
.hid-name {
  height: 100%;
  padding: 10px;
  font-size: inherit;
  text-align: left;
  color: #fff;
  background: transparent;
  user-select: none;
}

.name {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
}

.name:focus {
  background: rgba(255, 255, 255, 0.1);
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.name:focus::placeholder {
  opacity: 0;
}

.hid-name {
  min-width: 255px;
  white-space: pre;
  visibility: hidden;
}

.name.filled ~ .hid-name {
  min-width: 40px;
}

.hid-name.trans {
  transition: 0.5s;
}

/* ------------------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
