@charset "UTF-8";
@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgb(13, 3, 42);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.button {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
}

.button:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

[id] {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .main {
    min-height: 200px;
  }
}
.time {
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  font-size: 40px;
}

.name-wrapper {
  position: relative;
  overflow: hidden;
}

.greeting,
.name,
.double {
  padding: 10px;
}

.name {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  transition: 0.4s;
}
.name:focus {
  background: rgba(255, 255, 255, 0.1);
}
.name::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}
.name:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
.name::placeholder {
  color: #fff;
  opacity: 0.6;
}
.name:focus::-moz-placeholder {
  opacity: 0;
}
.name:focus:-ms-input-placeholder {
  opacity: 0;
}
.name:focus::placeholder {
  opacity: 0;
}

.double {
  min-width: 1em;
  white-space: pre;
  visibility: hidden;
}
.double.trans {
  transition: 0.5s;
}

@media (max-width: 768px) {
  .time {
    font-size: 72px;
  }
  .date {
    font-size: 24px;
  }
  .greeting-wrapper {
    padding: 0 20px;
    font-size: 32px;
  }
  .greeting,
.name,
.double {
    padding: 5px;
  }
}
@media (max-width: 480px) {
  .time {
    font-size: 50px;
  }
  .date {
    font-size: 20px;
  }
  .greeting-wrapper {
    font-size: 24px;
  }
}
.slider,
.slider::after,
.slider > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  z-index: -1;
}

.slider::after {
  content: "";
  z-index: 0;
  background: rgba(0, 0, 0, 0.3);
}

.fade-in,
.fade-out {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.slider-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -16px;
  transition: opacity 1s ease-in-out, transform 0.5s;
}
.slider-button.disabled {
  opacity: 0;
}
.slider-button:hover {
  transform: scale(1.1);
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

@media (max-width: 480px) {
  .slider__button {
    width: 25px;
  }
  .slide-prev {
    left: 10px;
    background-position-x: left;
  }
  .slide-next {
    right: 10px;
    background-position-x: right;
  }
}
.weather {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 180px;
  padding-right: 10px;
  text-align: left;
}

.weather-icon {
  font-size: 44px;
}

.weather-data > * {
  margin-bottom: 10px;
}

.weather-error {
  margin-top: -10px;
  line-height: 1.3;
}

.city {
  width: 100%;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.city::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.city:-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

@media (max-width: 480px) {
  .weather {
    width: 150px;
    padding-right: 0;
  }
  .weather-icon {
    font-size: 40px;
  }
  .weather-data > * {
    margin-bottom: 5px;
  }
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.change-quote {
  min-height: 32px;
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .quote {
    font-size: 16px;
  }
}
.menu {
  position: fixed;
  z-index: 10;
  left: 20px;
  bottom: 60px;
  width: 340px;
  padding: 20px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.menu-open .menu {
  opacity: 1;
  visibility: visible;
}

.menu-option:not(:last-child) {
  margin-bottom: 30px;
}

.menu-title {
  text-align: left;
  margin-bottom: 10px;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.menu-button {
  width: 90px;
  height: 30px;
  padding: 5px;
  font-size: inherit;
  color: rgb(153, 153, 153);
  background: #fff;
  border: none;
  cursor: pointer;
  pointer-events: all;
  transition: 0.3s;
}
.menu-button:hover {
  color: rgb(39, 1, 51);
}
.menu-button.active {
  background: rgb(206, 81, 245);
  color: #fff;
}

.switch.active {
  pointer-events: none;
  cursor: default;
}

.menu-toggle-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: url("../assets/svg/menu.svg");
  filter: invert(100%);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}
.menu-open .menu-toggle-button {
  transform: rotate(90deg);
}

@media (max-width: 480px) {
  .menu {
    left: 15px;
    width: 290px;
    padding: 15px;
    font-size: 16px;
  }
  .menu-buttons {
    gap: 10px;
  }
  .menu-button {
    width: 80px;
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */