@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgb(13, 3, 42);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 220px;
}

.main {
  flex-grow: 1;
  margin: 20px 0;
}

// ----------------------------

.button {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
}

.button:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}
