@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgb(13, 3, 42);
}

.header,
.main,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.header {
  justify-content: space-between;
  align-items: flex-start;
  height: 30vh;
  min-height: 220px;
}

.main {
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  min-height: 260px;
}

.footer {
  flex-direction: column;
  justify-content: flex-end;
  height: 30vh;
  min-height: 160px;
}

// ----------------------------

.button {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
}

.button:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}
