.time {
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;

  @include media-mm {
    font-size: 70px;
  }

  @include media-h(600px) {
    font-size: 60px;
  }

  @include media-ss {
    font-size: 42px;
  }
}

.date {
  font-size: 24px;
  margin-bottom: 20px;

  @include media-s {
    font-size: 18px;
  }
}

.greeting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-size: 40px;

  @include media-mm {
    font-size: 30px;
  }

  @include media-s {
    padding: 0 15px;
    font-size: 24px;
  }
}

.name-wrapper {
  position: relative;
  overflow: hidden;
}

.greeting,
.name,
.double {
  padding: 10px;

  @include media-ss {
    padding: 5px;
  }
}

.name {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  transition: 0.4s;

  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }

  &::placeholder {
    color: #fff;
    opacity: 0.6;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.double {
  min-width: 40px;
  white-space: pre;
  visibility: hidden;
  transition: 0.5s;
}
