.time {
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  font-size: 40px;
}

.name-wrapper {
  position: relative;
  overflow: hidden;
}

.greeting,
.name,
.double {
  padding: 10px;
}

.name {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  transition: 0.4s;

  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }

  &::placeholder {
    color: #fff;
    opacity: 0.6;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.double {
  min-width: 40px;
  white-space: pre;
  visibility: hidden;
  transition: 0.5s;
}

// ------------------------------

@media (max-width: 768px) {
  .time {
    font-size: 72px;
  }

  .date {
    font-size: 24px;
  }

  .greeting-wrapper {
    padding: 0 20px;
    font-size: 32px;
  }

  .greeting,
  .name,
  .double {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .time {
    font-size: 50px;
  }

  .date {
    font-size: 20px;
  }

  .greeting-wrapper {
    font-size: 24px;
  }
}
