.slider,
.slider::after,
.slider > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  z-index: -1;
}

.slider::after {
  content: '';
  z-index: 0;
  background: rgba(0, 0, 0, 0.3);
}

.fade-in,
.fade-out {
  object-fit: cover;
  object-position: center;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.fade-in {
  animation-name: fade-in;
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  transition: opacity 1s ease-in-out, transform 0.5s;

  &.disabled {
    opacity: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

@media (max-width: 480px) {
  .slider__button {
    width: 25px;
  }

  .slide-prev {
    left: 10px;
    background-position-x: left;
  }

  .slide-next {
    right: 10px;
    background-position-x: right;
  }
}
