.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  user-select: none;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  user-select: none;
}

/* --------------------------- */

.greeting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  font-size: 40px;
}

.greeting {
  padding: 10px;
  user-select: none;
}

.name-wrapper {
  position: relative;
  overflow: hidden;
}

.name,
.hid-name {
  padding: 10px;
  font-size: inherit;
  text-align: left;
  color: #fff;
  background: transparent;
  user-select: none;
}

.name {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;

  &:focus {
    background: rgba(255, 255, 255, 0.2);
  }

  &::placeholder {
    color: #fff;
    opacity: 0.6;
    transition: 0.3s;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.hid-name {
  min-width: 1em;
  white-space: pre;
  visibility: hidden;

  &.trans {
    transition: 0.5s;
  }
}

// ------------------------------

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .date {
    font-size: 20px;
  }

  .greeting-wrapper {
    min-height: 40px;
    font-size: 30px;
  }

  .greeting,
  .name {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .time {
    font-size: 50px;
  }

  .greeting-wrapper {
    font-size: 24px;
  }
}
