.player-toggle-button {
  display: none;

  @include media-mm {
    left: 25px;
    top: 20px;
    display: block;
    background-image: url('../assets/svg/music.svg');
    filter: invert(100%);
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.player-modal {
  @include vidget;
  height: auto;

  @include media-mm {
    @include modal-general;
    width: 300px;
    top: 5px;
    left: -100%;
    .open > & {
      left: 5px;
    }
  }

  @include media(330px) {
    width: 100%;
  }
}

.player-header {
  height: 170px;
  padding: 15px 20px 15px;
  .playlist-open & {
    box-shadow: $shadow;
  }
  @include media-mm {
    height: auto;
    // background: $color-modal-bg2;
  }
}

.song-name {
  height: 32px;
  font-size: 18px;
  line-height: 25px;
  white-space: pre;
  overflow: hidden;

  @include media-mm {
    margin-bottom: 15px;
    padding: 0 40px;
    font-size: 16px;
    line-height: 32px;
  }
}

.song-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  font-size: 15px;
  line-height: 1;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.play-list {
  width: 100%;
  height: 0;
  max-height: calc(100vh - 40px - 170px - 40px);
  padding: 0 20px;
  text-align: left;
  transition: 0.3s;
  overflow: hidden;

  .playlist-open & {
    padding: 10px 20px 15px;
  }

  @include media-hs {
    min-height: calc(100vh - 10px - 170px);
  }
}

.play-item {
  position: relative;
  padding: 5px 0 5px 32px;
  list-style: none;
  line-height: 20px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;

  &.active {
    color: #f480f0;
    opacity: 0.9;
  }

  &:hover {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url('../assets/svg/play.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }

  &.active::before {
    background-image: url('../assets/svg/play.svg');
    filter: invert(80%) sepia(57%) saturate(5809%) hue-rotate(295deg) brightness(117%) contrast(126%);
  }

  &.active.playing::before {
    background-image: url('../assets/svg/pause.svg');
  }
}

.play {
  width: 40px;
  height: 40px;
  background-image: url('../assets/svg/play.svg');

  &.playing {
    background-image: url('../assets/svg/pause.svg');
  }
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.volume {
  flex-shrink: 0;
  background-image: url('../assets/svg/volume.svg');

  &.mute {
    background-image: url('../assets/svg/mute.svg');
  }
}

.playlist-button {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/svg/arrow.svg') no-repeat center;
    background-size: 12px;
    transition: 0.3s;

    .playlist-open & {
      transform: rotate(180deg);
    }
  }
}

.range {
  appearance: none;
  display: block;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(#b00f9d, #b00f9d);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  outline: none;
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
}

.range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
}
