.player-toggle-button {
  display: none;

  @include media-tm {
    left: 25px;
    top: 20px;
    display: block;
  }
}

.player-modal {
  @include vidget;
  height: auto;

  @include media-tm {
    @include modal-general;
    width: 290px;
    top: 5px;
    left: -350px;
    .open > & {
      left: 5px;
    }
  }

  @include media(330px) {
    width: 100%;
  }
}

.player-header {
  height: 170px;
  padding: 15px 20px 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

  @include media-tm {
    height: auto;
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.3);
  }
}

.song-name-wrapper {
  position: relative;
  height: 31px;
  overflow: hidden;

  @include media-tm {
    height: 50px;
  }
}

.song-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 19px;
  line-height: 27px;
  white-space: pre;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  &.prev {
    animation-name: slide-to-right;
  }

  &.next {
    animation-name: slide-from-left;
  }

  @include media-tm {
    padding: 0 45px;
    font-size: 18px;
    line-height: 20px;
  }

  & > span:last-child {
    display: block;
    font-size: 14px;
    opacity: 0;

    @include media-tm {
      opacity: 0.7;
    }
  }
}

@keyframes slide-to-right {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.song-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  font-size: 15px;
  line-height: 1;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.play-list {
  width: 100%;
  height: 0;
  max-height: calc(100vh - 40px - 170px - 40px);
  padding: 0 20px;
  text-align: left;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;

  .playlist-open & {
    padding: 15px 20px 7px;
    opacity: 1;
  }

  @include media-hs {
    max-height: calc(100vh - 10px - 170px);
  }
}

.play-item {
  position: relative;
  height: 33px;
  padding-left: 30px;
  list-style: none;
  line-height: 1;
  opacity: 0.8;
  transition: 0.2s linear;
  white-space: nowrap;
  cursor: pointer;

  &:before,
  &::after {
    position: absolute;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transition: 0.2s linear;
  }

  &:before {
    content: '\e909';
    font-family: 'icomoon';
    left: 0;
  }

  &:after {
    content: '\2713';
    right: 0;
    width: 30px;
    text-align: center;
    font-size: 19px;
    color: var(--color-active);
    opacity: 0;
  }

  &.active {
    opacity: 1;

    .song-title {
      border-bottom: 1px solid var(--color-active);
    }
    &:after {
      opacity: 1;
    }
  }

  &.active.playing {
    text-shadow: none;
    animation: animText 1.5s infinite linear;

    .song-title {
      border-bottom: 1px solid transparent;
    }
    &:before {
      content: '\e908';
      animation: rotateBtn 3s infinite linear;
    }
    &:after {
      color: inherit;
    }
  }

  &:hover {
    opacity: 1;
    .song-title {
      transform: translate3d(0, -4px, 0);
    }
    .song-singer {
      opacity: 1;
    }
  }

  @include media-tm {
    height: 36px;
  }
}

.song-title,
.song-singer {
  transition: 0.2s linear;
}

.song-title {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transform: translate3d(0, 3px, 0);
}

.song-singer {
  display: block;
  font-size: 14px;
  transform: translate3d(0, -3px, 0);
  opacity: 0;
}

@keyframes rotateBtn {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes animText {
  0% {
    color: $color-main;
  }
  50% {
    color: var(--color-active);
  }
  100% {
    color: $color-main;
  }
}

.player-controls > .icon-play {
  width: 40px;
  height: 40px;
  font-size: 40px;
  opacity: 0.75;

  &:hover {
    opacity: 0.95;
  }
}

.playing.icon-play::before {
  content: '\e908';
}

.mute.icon-volume::before {
  content: '\e907';
}

.playlist-button {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 20px;
  border: 2px solid $color-main;
  border-radius: 20%;
  opacity: 0.75;

  @include media-tm {
    border-color: var(--color-modal);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    transition: 0.3s;
    transform: translate(-50%, -50%);

    .playlist-open & {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
