.quote-toggle-button {
  display: none;

  @include media-hs {
    left: 50%;
    bottom: 21px;
    display: block;
    background-image: url('../assets/svg/quote.svg');
    transform: translateX(-50%);
  }
}

.quote-modal {
  position: relative;
  min-height: 150px;
  font-style: italic;

  @include media-s {
    min-height: 170px;
  }

  @include media-hs {
    @include modal-general;
    left: 50%;
    bottom: -100%;
    width: calc(100% - 150px);
    max-width: 800px !important;
    transform: translateX(-50%);
    min-height: 260px;

    .open > & {
      bottom: 5px;
    }
  }

  @media (max-width: $small) and (max-height: $small) {
    width: calc(100% - 10px);
  }

  @media (min-width: $mob) and (max-height: $small) {
    min-height: 230px;
  }
}

.quote-body {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @include media-hs {
    height: calc(100% - 60px);
    padding: 20px;
    box-shadow: $shadow;
  }

  &.prev {
    animation-name: fade-out;
  }

  &.next {
    animation-name: fade-in;
  }

  &.error {
    font-size: 16px;
    font-style: normal;
    opacity: 0.5;
  }
}

.quote-footer {
  display: none;
  @include media-hs {
    display: block;
    height: 60px;
    background: $color-modal-bg2;
  }
}

.change-quote-button {
  margin-bottom: 25px;
  background-image: url('../assets/svg/reload.svg');

  @include media-ms {
    margin-bottom: 20px;
    background-size: 28px;
  }

  .next > & {
    animation: rotate 0.3s linear;
  }
}

.quote-text {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.2;

  @include media-tm {
    font-size: 16px;
  }
}

.quote-author {
  padding: 0 65px;
  font-size: 16px;

  @include media-tm {
    font-size: 15px;
  }
  @include media-hs {
    padding: 0;
  }
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
