.menu-toggle-button {
  left: 20px;
  bottom: 20px;

  .open > & {
    left: 40px;
    bottom: 35px;
    transform: rotate(90deg);
  }

  @include media-tm {
    left: 25px;
    bottom: 20px;

    .open > & {
      left: 25px;
      bottom: 20px;
    }
  }
}

.menu-modal {
  left: 20px;
  bottom: 20px;
  width: 370px;

  @include media-tm {
    left: 5px;
    bottom: 5px;
  }

  @include media(405px) {
    width: 100%;
  }
}

.menu-body {
  position: relative;
  height: 430px;
  padding: 20px;

  @include media-tm {
    max-height: calc(100vh - (65px + 60px + 5px + 60px));
  }

  @include media-hs {
    max-height: calc(100vh - (65px + 60px + 10px));
  }
}

.tab-button {
  position: relative;
  height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: var(--color-modal);
  backdrop-filter: opacity(0.4);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: var(--color-active);
    transition: 0.3s;
  }

  &:hover {
    filter: none;
    &::before {
      width: 100%;
    }
  }

  &.active {
    background: transparent;
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}

.menu-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;

  .open &.active {
    opacity: 1;
    visibility: visible;
  }
}

.menu-option:not(:last-child) {
  margin-bottom: 30px;
}

.menu-title {
  margin-bottom: 10px;
  text-align: left;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @include media-tm {
    gap: 10px;
  }
}

.menu-custom {
  margin-top: 15px;
  pointer-events: none;
  opacity: 0.3;
  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.menu-tag-input {
  margin-bottom: 15px;
  .error & {
    color: red;
    outline: 1px solid red;
  }
}

.menu-error {
  height: 0;
  text-align: left;
  color: red;
  font-size: 16px;
  transition: 0.2s linear;
  overflow: hidden;
  opacity: 0;

  .error & {
    height: 36px;
    opacity: 1;
  }
}

.menu-colors .menu-option:not(:last-child) {
  margin-bottom: 20px;
}

.color-title {
  position: relative;
  line-height: 28px;
  text-align: center;
  overflow: hidden;

  @include media-tm {
    line-height: 26px;
  }
}

.custom-title {
  opacity: 0;
  pointer-events: none;

  .custom & {
    opacity: 1;
  }
}

.copy-button {
  position: absolute;
  top: 1px;
  left: 50%;
  padding: 3px 10px;
  white-space: pre;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4);
  transform: translateX(-50%);
  transition: 0.2s linear;

  .custom & {
    top: -100%;
    opacity: 0;
  }

  &:hover {
    color: $color-btn;
    background: $color-main;
  }
}

.color-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  text-align: left;

  &:last-child {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  }
}

.color-input,
.color-range {
  width: calc((100% - 30px) / 3);
  @include media-tm {
    width: calc((100% - 20px) / 3);
  }
}

.color-input {
  height: 26px;
}

.menu-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 60px;

  span {
    font-size: 15px;
    opacity: 0.3;
  }
}

.menu-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: var(--color-modal);
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  opacity: 0.25;

  &:hover {
    opacity: 0.8;
  }
}

.rss-link {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
