.menu-toggle-button {
  left: 20px;
  bottom: 20px;
  background: url('../assets/svg/menu.svg');

  .open > & {
    left: 40px;
    bottom: 35px;
    transform: rotate(90deg);

    &:hover {
      opacity: 1;
    }
  }

  @include media-mm {
    left: 25px;
    bottom: 20px;

    .open > & {
      left: 25px;
      bottom: 20px;
    }
  }
}

.menu-modal {
  left: 20px;
  bottom: 20px;
  width: 365px;
  padding-top: 3px;

  @include media-mm {
    left: 5px;
    bottom: 5px;
  }

  @include media(400px) {
    width: 100%;
  }
}

.menu-body {
  max-height: calc(100vh - (60px + 40px));
  padding: 20px;
  box-shadow: $shadow;

  @include media-mm {
    max-height: calc(100vh - (60px + 10px));
  }

  @media (max-width: 400px) and (min-height: 481px) {
    max-height: calc(100vh - (60px + 5px + 60px));
  }
}

.menu-option:not(:last-child) {
  margin-bottom: 30px;
}

.menu-title {
  text-align: left;
  margin-bottom: 10px;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @include media-mm {
    gap: 10px;
  }
}

.menu-custom {
  display: flex;
  height: 0;
  margin-top: 15px;
  opacity: 0;
  transition: 0.3s;

  &.active {
    height: 30px;
    opacity: 1;
  }
}

.menu-input-window {
  position: relative;
  width: calc(60% + 15px);
  height: 30px;
  flex-grow: 1;
  overflow: hidden;
  background: $color-light;
  opacity: 0.9;
  transition: 0.3s;

  &.anim {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.menu-tag-input {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  background: transparent;
  text-align: left;

  .anim & {
    animation: input 0.5s linear;
  }

  .error & {
    color: red;
    outline: 1px solid red;
    outline-offset: -1px;
  }
}

@keyframes input {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
    opacity: 1;
  }
  51% {
    width: 0;
    opacity: 0;
  }
  52% {
    left: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

.menu-error {
  height: 0;
  margin-top: 15px;
  text-align: left;
  color: red;
  font-size: 16px;
  transition: height 0.3s;
  overflow: hidden;
  opacity: 0;

  .error & {
    height: 36px;
    opacity: 1;
  }
}

.custom-button {
  overflow: hidden;
  color: $color-main;
  margin-left: 15px;

  &:disabled {
    width: 0;
    flex-basis: 0;
    margin-left: 0;
    padding: 0;
    color: $color-text;
    pointer-events: none;
    cursor: default;
    opacity: 0.1;
    transition: 0.3s;
  }
}

.menu-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 60px;
  background: $color-modal-bg2;

  span {
    font-size: 15px;
    opacity: 0.3;
  }
}

.menu-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  opacity: 0.3;

  &:hover {
    opacity: 0.8;
  }
}

.github-link {
  background-image: url('../assets/svg/github.svg');
}

.rss-link {
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../assets/svg/rss.svg');
  background-size: 22px;
  transform: translateY(-50%);
}
