.todo {
  right: 20px;
  width: 300px;
  max-width: calc(100vw - 40px);

  .todo-open & {
    opacity: 1;
    visibility: visible;
  }
}

.todo-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.todo-list {
  min-height: 165px;
  max-height: calc(100vh - 255px);
  margin-bottom: 15px;
  padding-bottom: 5px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: inset 0 -5px 5px -5px rgba(255, 255, 255, 0.3);

  &.empty-all,
  &.show-done.empty-done {
    box-shadow: none;
  }

  &.scroll {
    overflow: auto;
  }
}

.todo-text,
.done-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}

.empty-all .todo-text,
.show-done.empty-done .done-text {
  opacity: 0.6;
}

.show-done .todo-text {
  opacity: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 3px 0;
  text-align: left;
  transition: 0.3s;

  .show-done & {
    display: none;

    &.done {
      display: flex;
    }
  }

  &.trans {
    opacity: 0;
  }

  .scroll & {
    padding-right: 5px;
  }
}

.todo-task {
  display: block;
  width: 100%;
  padding: 5px;
  line-height: 24px;
  outline: none;
  overflow: hidden;

  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }

  .done & {
    text-decoration: line-through;
    opacity: 0.7;
  }
}

.todo-check-button {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background: $color-light;
  cursor: pointer;

  .done & {
    background: $color-main url('../assets/svg/check.svg') no-repeat;
    background-size: contain;
    background-position: 2px -1px;
    opacity: 1;
  }
}

.todo-delete-button {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: auto;
  background-image: url('../assets/svg/delete.svg');
  background-size: contain;
}

.todo-clear-button {
  margin: 0 auto 15px;
  padding: 5px;
  font-size: 15px;
  line-height: 1;
  color: $color-light;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
  }

  .empty-all ~ &,
  .show-done.empty-done ~ & {
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
  }
}

.todo-toggle-button {
  position: fixed;
  right: 40px;
  bottom: 17px;
  width: auto;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.3s;

  &:hover,
  .todo-open & {
    opacity: 1;
  }

  &:active {
    transform: none;
  }
}
