@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot?h0lrls');
  src: url('assets/fonts/icomoon.eot?h0lrls#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?h0lrls') format('truetype'), url('assets/fonts/icomoon.woff?h0lrls') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: '\e900';
}
.icon-check:before {
  content: '\e901';
}
.icon-delete:before {
  content: '\e902';
}
.icon-github:before {
  content: '\e903';
}
.icon-menu:before {
  content: '\e904';
}
.icon-music:before {
  content: '\e905';
}
.icon-music1:before {
  content: '\e906';
}
.icon-mute:before {
  content: '\e907';
}
.icon-pause:before {
  content: '\e908';
}
.icon-play:before {
  content: '\e909';
}
.icon-play-next:before {
  content: '\e90a';
}
.icon-play-prev:before {
  content: '\e90b';
}
.icon-quote:before {
  content: '\e90c';
}
.icon-reload:before {
  content: '\e90d';
}
.icon-rss:before {
  content: '\e90e';
}
.icon-rss1:before {
  content: '\e90f';
}
.icon-rss2:before {
  content: '\e910';
}
.icon-slider-next:before {
  content: '\e911';
}
.icon-slider-prev:before {
  content: '\e912';
}
.icon-volume:before {
  content: '\e913';
}
