.time-wrapper,
.greeting-wrapper {
  flex: 0 0 42%;
}

.time-wrapper {
  display: flex;
  align-items: flex-end;
}

.time {
  position: relative;
  padding: 10px 25px 15px;
  font-family: 'Arial-MT';
  font-size: 110px;
  letter-spacing: -4px;
  transition: 0.3s;

  @include media-l {
    font-size: 94px;
  }
  @include media-tm {
    font-size: 90px;
  }
  @include media-ms {
    padding: 10px 15px;
    font-size: 70px;
  }
  @include media-sx {
    font-size: 60px;
  }
  @include media-x {
    font-size: 54px;
  }
  @include media-hx {
    padding: 5px 15px;
  }

  &[data-effect='gradient'] {
    color: transparent;
    background-image: linear-gradient(-225deg, #ffffff 0%, #ff63fa 29%, #00e1ff 67%, #ffffff 100%);
    background-size: 300% auto;
    background-clip: text;
    animation: gradient 5s linear infinite;
  }

  &[data-effect='glow'] {
    font-family: Verdana, sans-serif;
    color: #00ffff;
    background: rgba(0, 0, 0, 0.5);
    animation: glow 1s linear infinite alternate;
  }
}

@keyframes gradient {
  to {
    background-position: -300% center;
  }
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
    text-shadow: 0 0 15px #00ffff, 0 0 25px #00ffff;
  }
  100% {
    filter: hue-rotate(360deg);
    text-shadow: none;
  }
}

.date {
  font-size: 26px;
  @include media-tm {
    font-size: 24px;
  }
  @include media-ms {
    font-size: 20px;
  }
}

.greeting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 100%;
  padding: 10px 15px;
  font-size: 44px;

  @include media-l {
    font-size: 40px;
  }
  @include media-tm {
    font-size: 36px;
  }
  @include media-ms {
    padding: 5px 15px;
    font-size: 30px;
  }
  @include media-sx {
    font-size: 26px;
  }
  @include media-hx {
    padding: 0 15px;
    font-size: 22px;
  }
}

.name-wrapper {
  position: relative;
  height: 64px;

  @include media-l {
    height: 60px;
  }
  @include media-tm {
    height: 56px;
  }
  @include media-ms {
    height: 40px;
  }
  @include media-sx {
    height: auto;
  }
}

.greeting,
.name-input,
.double {
  padding: 10px;
  @include media-ms {
    padding: 5px;
  }
  @include media-sx {
    min-height: 40px;
    line-height: 30px;
  }
}

.name-input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  transition: 0.4s;
  overflow: hidden;
  resize: none;

  &:focus::placeholder {
    opacity: 0;
  }
}

.double {
  min-width: 50px;
  height: 100%;
  visibility: hidden;
  transition: 0.5s;
  @include media-sx {
    min-width: 40px;
  }
}

.name-input,
.double {
  white-space: pre;
  @include media-sx {
    text-align: center;
    white-space: pre-wrap;
  }
}
