.slider,
.slider::after,
.slider > img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  z-index: -1;
}

.slider::after {
  content: '';
  z-index: 0;
  background: var(--color-overlay);
}

.fade-in,
.fade-out {
  object-fit: cover;
  object-position: center;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.fade-in {
  animation-name: fade-in;
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 50px;
  height: 60px;
  margin-top: -30px;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out, transform 0.3s;

  .animation & {
    opacity: 0;
  }
}

.slide-prev {
  left: 0;
  background-image: url('./assets/svg/slide-prev.svg');
  background-position: 20px center;
  transform-origin: left center;
}

.slide-next {
  right: 0;
  background-image: url('./assets/svg/slide-next.svg');
  background-position: 0 center;
  transform-origin: right center;
}

@media (max-width: 480px) {
  .slider-button {
    width: 40px;
  }

  .slide-prev {
    background-position: 10px center;
  }
}

@media (any-hover: hover) {
  .slider-button:hover {
    transform: scale(1.1);
  }
}
