@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: var(--color-main);
  text-align: center;
  background: rgb(6, 8, 68);

  &.lock {
    overflow: hidden;
  }
}

.header {
  flex-basis: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  min-height: 40px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 150px;
  @include media-s {
    min-height: 170px;
  }
  @include media-hs {
    min-height: 30px;
  }
}

// ----------------------------

button {
  display: block;
  color: inherit;
  font-size: inherit;
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.button {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  @include media-tm {
    opacity: 0.9;
  }
}

// -----------------------

[data-show] {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

// -----------------------

.input {
  display: block;
  padding: 5px;
  font-size: inherit;
  text-align: left;
  color: var(--color-main);
  background: transparent;
  border: none;
  outline: none;
  transition: 0.3s;

  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }

  &::placeholder {
    font-size: inherit;
    color: inherit;
    opacity: 0.6;
  }
}
