@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: $color-main;
  text-align: center;
  background: rgb(6, 8, 68);

  &.lock {
    overflow: hidden;
  }
}

.header {
  flex-basis: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  min-height: 40px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px 0;
  line-height: 1;
  @include media-tm {
    gap: 20px;
  }
  @include media-hs {
    gap: 15px;
  }
  @include media-x {
    gap: 15px;
  }
  @include media-hx {
    gap: 10px;
  }
}

.footer {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 150px;
  @include media-s {
    min-height: 170px;
  }
  @include media-hs {
    min-height: 30px;
  }
}

// ----------------------------

button {
  display: block;
  color: inherit;
  font-size: inherit;
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.button {
  width: 30px;
  height: 30px;
  font-size: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

// -----------------------

[data-show] {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

// -----------------------

.text-input {
  display: block;
  padding: 5px;
  font-size: inherit;
  line-height: 1;
  text-align: left;
  color: $color-main;
  background: transparent;
  border: none;
  outline: none;
  transition: 0.3s;

  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }

  &::placeholder {
    font-size: inherit;
    color: inherit;
    opacity: 0.6;
    transition: 0.3s;
  }
}

.range {
  appearance: none;
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(var(--color-active), var(--color-active));
  background-repeat: no-repeat;
  background-size: 50% 100%;
  backdrop-filter: invert(100%);
  outline: none;
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-active);
  cursor: ew-resize;
}

.range::-moz-range-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-active);
  cursor: ew-resize;
}

.range:disabled {
  pointer-events: none;
  cursor: auto;
}
