.menu,
.todo,
.quote,
.weather,
.player {
  z-index: 1;
  &.open {
    z-index: 2;
  }
}

.modal {
  @include modal;
}

.modal-toggle-button {
  position: fixed;
}

.scroll {
  overflow: auto !important;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
}

.play-list.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

.modal-button {
  width: calc((100% - 30px) / 3);
  height: 30px;
  padding: 5px;
  color: $color-text;
  background: $color-light;
  pointer-events: all;
  overflow: hidden;

  &[name='todoShow'] {
    flex-grow: 1;
  }

  &:hover {
    color: $color-text-hover;
  }

  &.active {
    background: $color-main;
    color: $color-light;

    &:hover {
      filter: saturate(120%);
    }
  }

  @include media-tm {
    width: calc((100% - 20px) / 3);
  }
}

.switch.active {
  pointer-events: none;
  cursor: default;
}

.modal-input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: none;
  color: $color-text-hover;
  background: $color-light;
  text-align: left;
  outline: none;
  font-size: inherit;
  opacity: 0.9;
  transition: 0.3s;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &::placeholder {
    color: $color-text;
    opacity: 0.9;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
