.menu,
.todo,
.quote,
.weather,
.player {
  z-index: 1;
  &.open {
    z-index: 2;
  }
}

.modal {
  @include modal;
}

.modal-toggle-button {
  position: fixed;

  .open & {
    color: var(--color-active);
  }

  @include media-tm {
    opacity: 0.9;
  }

  &:hover {
    opacity: 1;
  }
}

.scroll {
  overflow: auto !important;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(120, 120, 120, 0.4);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.4);
  }
}

.modal-button {
  display: block;
  width: calc((100% - 30px) / 3);
  height: 30px;

  @include media-tm {
    width: calc((100% - 20px) / 3);
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    line-height: 20px;
    color: $color-btn;
    background: $color-main;
    box-shadow: $shadow;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8) contrast(1.5);
    }
  }
}

[type='radio'],
[type='checkbox'] {
  display: none;
}

[type='radio']:checked + span,
[type='checkbox']:checked + span {
  color: var(--color-activeBtn);
  background: var(--color-active);
}

[type='radio']:checked + span {
  pointer-events: none;
  cursor: auto;
}

.modal-input {
  width: 100%;
  height: 30px;
  padding-left: 8px;
  color: $color-input;
  background: $color-main;
  outline: 1px solid $color-grey;
  outline-offset: -1px;

  &:focus {
    background: $color-main;
    outline: 1px solid var(--color-active);
  }

  &::placeholder {
    color: $color-btn;
    opacity: 0.9;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.modal-header,
.modal-footer {
  padding: 15px 20px;
  // backdrop-filter: opacity(0.3);
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.3);
}
