.menu,
.todo,
.quote,
.weather,
.player {
  z-index: 1;
  &.open {
    z-index: 2;
  }
}

.modal {
  @include modal;
}

.modal-toggle-button {
  position: fixed;
}

.scroll {
  overflow: auto !important;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
}

.play-list.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

.modal-button {
  position: relative;
  width: calc((100% - 30px) / 3);
  height: 30px;
  padding: 5px;
  color: var(--color-btn);
  background: var(--color-btnBg);
  pointer-events: all;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  &[name='todoShow'] {
    flex-grow: 1;
  }

  &:hover {
    filter: brightness(0.8) contrast(1.5);
    // box-shadow: var(--color-active) 0px 3px 3px -2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 1px, rgba(0, 0, 0, 0.06) 0px 1px 2px 1px;
  }

  &.active {
    background: var(--color-active);
    color: var(--color-activeBtn);

    &:hover {
      filter: brightness(0.8) contrast(1.5);
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
  }

  &:disabled{
    pointer-events: none;
    opacity: 0.5;
  }

  @include media-tm {
    width: calc((100% - 20px) / 3);
  }
}

.switch.active {
  pointer-events: none;
  cursor: default;
}

.modal-input {
  width: 100%;
  height: 30px;
  color: var(--color-input);
  background: var(--color-inputBg);
  opacity: 0.9;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &::placeholder {
    color: var(--color-btn);
    opacity: 0.9;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
